[submodule "vendor/SDL3"]
	path = vendor/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/ccVector"]
	path = vendor/ccVector
	url = https://github.com/jobtalle/ccVector.git
[submodule "vendor/tinyobjloader"]
	path = vendor/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader-c.git
[submodule "vendor/cimgui/imgui"]
	path = vendor/cimgui/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
